{{ define "fragment" }}
<summary>Tags</summary>
<ul>
    <li style="max-width: 240px;">
        {{ range .student.Tags }}
        <a href="#" hx-post="/student/{{ $.student.ID }}/tag/{{ .Tag }}" hx-target="#tags" style="display: inline-block;">
            <span class="badge tag">
                {{ .Tag }}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            </span>
        </a>
        {{ end }}
        {{ range .nontags }}
        <a href="#" hx-post="/student/{{ $.student.ID }}/tag/{{ . }}" hx-target="#tags" style="display: inline-block;">
            <span class="badge">{{ . }}
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            </span>
        </a>
        {{ end }}
    </li>
</ul>
{{ end }}