{{ define "fragment" }}
<form hx-post="/note/add/{{ .source }}/{{ .ID }}" id="note{{ .note.ID }}">
    <article>
        <header>
            <strong>Editing a note</strong>
            <label for="preview-toggle" style="display: inline-block; float: inline-end;">
                Show preview
                <input id="preview-toggle" type="checkbox" name="content" role="switch">
            </label>
        </header>
        
        <input type="hidden" name="id" value="{{ .note.ID }}">
        <textarea name="content" placeholder="Write a note..." class="textarea" rows="5" autofocus style="margin: calc(var(--spacing) * -2) auto; border: none;" required>{{ .note.Content }}</textarea>
        
        <footer>
            <div class="grid">
                <input type="button" hx-get="/note/view/{{ .note.ID }}" hx-target="#note{{ .note.ID }}" hx-swap="outerHTML" value="Cancel" class="secondary">
                <input type="submit" value="Save">
            </div>
        </footer>
        
    </article>
</form>
{{ end }}